.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 1221, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  background-color: tomato;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  left: 17px;
  bottom: 15px;
}

.nav__link--friends {
  color: var(--yellow);
}

.nav__btn--chats i {
  color: var(--yellow);
}

.nav__link--find {
  color: var(--yellow);
}

.nav__link--more {
  color: var(--yellow);
}
