.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 10px;
}

.screen-header__title {
  font-size: 32px;
  align-items: center;
  font-weight: 600px;
}

.screen-header__icons span {
  padding-top: 20px;
  margin-left: 25px;
}
