.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600px;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 17px;
}

.user-component__avatat--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__avatar--xxs {
  height: 36px;
  width: 36px;
  border-radius: 16px;
}

.user-component__title--not-bold {
  font-weight: 400px;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);
}

.chat-notification {
  background-color: tomato;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
  font-weight: 600;
  margin-top: 3px;
}

.user-component__subtitle--chats {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.user-component__chats {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.user-component__avatar--evan {
  position: absolute;
}

.user-component__avatar--jenny {
  position: relative;
  left: 25px;
  top: 15px;
}

.user-component__text--group {
  padding-left: 20px;
}

.user-component__column--time {
  font-size: 12px;
}

.pin {
  position: relative;
  bottom: 10px;
  right: 32px;
  color: rgb(189, 189, 189);
}
